@{
    ViewBag.Title = "About Cupcakes";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="pages-text">
    <div class="pages-title">
        <h2>About Cupcake Shop</h2>
    </div>
    <div class="contacts-container">
        <div class="text contacts-text">
            <p>
                We believe we are one of the best bakeries in the Sweden! We’ve been making amazing cakes, cupcakes and brownies by hand, in small batches since 2013. We use the absolute best ingredients money can buy and EVERYTHING we do is about flavour, quality and taste.
            </p>
            <h3>
                Why would you order from us?

            </h3>
            <p>
                Our amazingly talented team make cakes and cupcakes the only way we know how - by hand and with a meticulous eye for detail, quality and flavour - and if that means going the extra mile to source the finest ingredients from around the world, we do it!
            </p>
            <p>
                We only use organic free range farm fresh eggs which are accredited by the Organic Growers Association, The Soil Association, RSPCA Freedom Foods and British Red Lion Quality to ensure the hens receive the highest potential standards of animal welfare - our farmer even hand delivers to us. We use Lescure butter which is churned by hand in the Charentes region in France, Valrhona cocoa powder, the finest chocolates from France and Belgium and the purest vanilla from Madagascar. Our fruit is all fresh and we handmake all our sauces, compotes, fillings and caramels.
            </p>
            <p>
                Baking amazing cupcakes takes months of recipe testing, tweaking and a crazy talented team that believes cake is the ultimate treat.
            </p>
            <p>
                The humble cupcake isn’t the poor relation - it’s the King of the dessert world.
            </p>
            <p>
                Place your order right now online and we promise to hand bake, hand decorate and hand deliver the ultimate celebration cake or the most delicious box of cupcakes or brownies you’ve ever tasted.
            </p>
        </div>
        <div class="container mt-5 contacts-map">
            <div class="row mt-2 col-10 mb-10 justify-content-md-center">
                <img src="~/Content/GenericImages/cooking.jpg" />
            </div>
            <br />

            <div class="row mt-2 col-10 mb-10 justify-content-md-center">
                <img src="~/Content/GenericImages/series.jpg" />
            </div>
        </div>
    </div>
