
@{
    ViewBag.Title = "Careers";
}

@*<h2>Careers</h2>*@

<div class="pages-text">
    <div class="pages-title">
        <h2>Working at the Cupcake Shop</h2>
    </div>
    <div class="text">
        <p>
            Join Team Cupcake and enjoy a fulfilling career in helping us to bring fresh American baking to the world. We are always looking for great people to join our team. Here is where you’ll find the latest job vacancies at our bakeries.
        </p>

        <p>
            Even if there are no vacancies currently available, you can still submit your CV, a cover letter and any images of your wonderful baking skills (if a baker, but we also love seeing any prospective applicants who love to bake too!) to <strong>jobs@cupcakeshop.com</strong>.
        </p>

        <p>
            For any enquiries concerning careers at the Cupcake Shop, please contact us at <strong>jobs@cupcakeshop.com</strong>.
        </p>
    </div>
</div>