
@{
    ViewBag.Title = "Catering";
}

<h2>Catering</h2>

<div class="pages-text">
    <div class="pages-title">
        <h2>Caterings and events</h2>
    </div>
    <div class="text">
        <h3>Have an event and you want cupcakes?</h3>
        <p>    
            We are happy to cater your events and bring our complete collection to indulge your guests. 
            Drop us an email or call us and we will be happy to discuss details with you.
        </p>
        <h3>
            Price
        </h3>
        <p>
            In case you only want cupcakes, we will only charge for the delivery and cupcakes price. However, if you need decoration and customised service, contact us and we will find the most suitable price for you. 
        </p>
        <br>
        <p>
            <strong>catering@cupcakeshop.com</strong>
        </p>    
    </div>
</div>

