
@{
    ViewBag.Title = "Dietary & Allergen";
}

@*<h2>Dietary & Allergen</h2>*@

<div class="pages-text">
    <div class="pages-title">
        <h2>Dietary and Allergen Info</h2>
    </div>
    <div class="text">
        <p>
            At The Cupcake Shop, we want to help all our customers to make informed choices about our products. If you are adhering to a special diet, or have a food allergy or intolerance, you will find all the information you need below.
        </p>
        <h3>
            Cross-contamination
        </h3>
        <p>
            Please note that all our products are baked fresh onsite in our kitchens, which handle ingredients used to make all our products. While we do have processes in place to minimise the risk of cross-contamination, we have small kitchens and do not have segregated production lines, so cross-contamination of ingredients is possible.
        </p>
        <p>
            All our kitchens handle all the main allergens of <strong>dairy, nuts, peanuts, gluten (wheat), egg, sesame, sulphites and soya</strong>.
        </p>
        <p>
            If you have a serious allergy to any of these allergens, or one which could cause you to have a major allergic reaction, sadly the only way for you to be 100% safe is not to consume any of our products.
        </p>
        <h3>
            Coeliacs and gluten intolerant?
        </h3>
        <p>
            We have exclusive and delicious cupcakes made with gluten free and non gluten containing ingredients, however, our kitchens handle ingredients containing gluten.
        </p>
        <h3>
            Vegetarian?
        </h3>
        <p>
            Our Pinata cakes and cupcakes are not suitable for vegetarians as they contain M&Ms. The rest of our products are suitable for vegetarians unless otherwise specified. There is no gelatine in the Marshmallow Fluff, our food colourings do not contain any animal products in them, and we do not use cheese that contains rennet in any of our products. We have had products in the past that contained bacon, and this will always be clearly identified in the product label. However we do not plan on bringing in any meat containing products for the foreseeable future.
        </p>
        <h3>
            Vegan?
        </h3>
        <p>
            We have a growing vegan collection online, and a more limited range available in-store in our counters. Please be assured that we also are aware that some sprinkles and cake decorations are not vegan friendly, and we will not put any of those onto the tops of our vegan goodies. We want to ensure that vegans get the same quality taste as our non-vegan products, and we will try not to charge more for vegan products than our non-vegan range. Sometimes vegan substitutes are more expensive, but we’re getting good at sourcing non-dairy and eggless alternatives for a keen price.
        </p>
    </div>
</div>
