@model CupcakeShop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li class="nav-icons">
        <a href="@Url.Action("Index", "Basket")">
            <span class="badge badge-pill badge-info">@Model.BasketCount</span>
            <i class="fas fa-shopping-basket icons"></i>
        </a>
    </li>
</ul>
