@*@{
    ViewBag.Title = "Thank You";
}

<div class="container pages-text text-center">
    <div class="pages-title">
        <h2>Thank You<br /><br /></h2>
    </div>
        Thank your for you order.
        <br />
        <br />
        Your Order Id = @ViewBag.OrderId
</div>
