@*@{
    ViewBag.Title = "Thank You";
}*@


<div class="pages-text">
    <div class="pages-title">
        <h2>Thank you</h2>
    </div>
    <div class="contacts-container">
        <div class="text contacts-text product-list-admin-view" style="        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%">
            <h3>We are delighted that you like our cupcakes. Our little pieces of heaven are on their way to you.</h3>
            <p> You order Id is @ViewBag.OrderId</p>
            <p>Keep your order in case you need to enquire on its status later.</p>
        </div>
    </div>
</div>