@{
    ViewBag.Title = "Login Failure";
}


<div class="pages-text">
    <div class="pages-title">

        <h2>@ViewBag.Title.</h2>
        <div class="contacts-container">
            <div class="text contacts-text product-list-admin-view edit-text">
                <h3 class="text-danger">Unsuccessful login with service.</h3>

            </div>
        </div>
    </div>
</div>
