@*@{
    ViewBag.Title = "Forgot Password Confirmation";
}*@



<div class="pages-text">
    <div class="pages-title">
        <h2>Password Recovery</h2>
    </div>
    <div class="contacts-container">
        <div class="text contacts-text product-list-admin-view edit-text">
            <h3>Password reset successfully</h3>
            <p>Please check your email for instructions to reset your password</p>
        </div>
    </div>
</div>
