@*@{
    ViewBag.Title = "Reset password confirmation";
}*@


<div class="pages-text">
    <div class="pages-title">
        <h2>Reset password confirmation</h2>
    </div>
    <div class="contacts-container">
        <div class="text contacts-text product-list-admin-view edit-text">
            <h3>Password reset successfully</h3>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>