/*---NAVBAR ---*/

.navbar-dark .navbar-nav .nav-link {
    color: #422316;
    font-family: 'Bebas Neue';
    font-size: large;
}

#logo {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(40%,  0%);
    top: -30px;
    height: 125px;
    width: 125px;
}